# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.egg-info/
*.env
.env.*
!.env.example
*.log
*.db

# Node / Frontend
node_modules/
.next/
dist/
build/
out/
.vercel

# AI / Cache
.cache/
*.chromadb/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
